watchdog==6.0.0
python-dotenv>=1.0.0
colorama>=0.4.6
requests==2.34.2
psutil>=5.8.0
pywin32; platform_system == "Windows"
pyinstaller==6.20.0
DrissionPage>=4.0.0
selenium==4.44.0
webdriver_manager==4.0.2